/* @media only screen and (max-width: 673px){

    
} */
.img-direktur {
    /* display: inline; */
    height: auto;
    width: 646px;
    border: 4px solid #FFFF;
    /* Gray border */
    border-radius: 4px;
    /* Rounded border */
}
.img-direktur:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.text-justify-custom-news {
    text-align: justify;
}

.saasio-blog-details-content .blog-details-img .img-custom-news {
    margin: auto;
    display: block;
    text-align: center;
    height: 350px;
    width: 100%;
}
.img-custom-news-home {
    margin: auto;   
    display: block;
    text-align: center;
    margin-top: 30px;
    height: auto;
    width: max-content;
}